.main-container{
  width: 100vw;
  height: 100vh;
  background: #151515;
}
.container {
  padding: 10rem;
}
.title-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.user-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #0078d4;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.action_button{
  margin-left: 0.5rem;
}

.delete-btn {
  background-color: #d40000;
}

button:hover {
  opacity: 0.9;
}

.add-btn {
  margin-bottom: 1rem;
}
